.image-card {
  height: 691px;
  .image {
    height: 691px;
    opacity: 0.7;
    &::after {
      background-color: rgba($color: #000000, $alpha: 0.7);
      content: "";  // :before and :after both require content
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .no-padding {
    padding: 0;
  }
  .intro-text {
    display: grid;
    grid-template-columns: 100px 1fr 150px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "vision vision . ."
    ". logo . mission"
    ". . . btn";
    // padding-top: 150px;
    padding-bottom: 100px;
    width: 100%;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
  .text-vision, .text-mission {
    background-color: rgba($color: $primary, $alpha: 0.3);
    border: $white solid 5px;
    border-radius: 0 45px;
    margin: 10px;
    padding: 30px;
    width: 450px;
  }

  .text-vision {
    grid-area: vision;
  }

  .text-mission {
    grid-area: mission;
  }
  .cta {
    grid-area: btn;
  }
  .logo {
    grid-area: logo;
  }
}
@media (min-width: 768px) {
  .image-card {
    height: 759px;
    .image {
      height: 759px;
    }
    .intro-text {
      padding-top: 100px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
@media (max-width: 1000px) {
  .logo {
    visibility: hidden;
  }
}
